# =========================================================
# IDE
# =========================================================

.idea/
*.iml


# =========================================================
# JAVA / MAVEN
# =========================================================

target/
*.class


# =========================================================
# NODE
# =========================================================

node_modules/
frontend/node_modules/

frontend/dist/
dist/


# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.*
!.env.example


# =========================================================
# UPLOADS
# =========================================================

uploads/
backend/uploads/


# =========================================================
# LOGS
# =========================================================

*.log


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db